.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
null/
output*/
assets/samplesheet_*
ATL_v3.hc_gene_models.agat.exon2cds150.with_chloroplast_and_mito.agat.log
ATL_v3.hc_gene_models.agat.exon2cds150.with_chloroplast_and_mito.sorted.agat.log
